.firstScreen
.obec
  position absolute
  width 100%
  top 0px
  bottom 0px
  overflow hidden

.firstScreen
  transition left 0.8s
  left 0px
  &.disabled
    left -100%

.obec
.senat
  transition right 0.8s
  right 0px
  &.disabled
    right -100%
