.pekac
  width 990px
  height 300px
  position relative
  h2
    position absolute
    top 5px
  .switcher
    position absolute
    right 300px
    top 10px
    label
      float left
      clear left
    span
      padding-left 6px
  .bars
    position absolute
    top 0px
    left 0px
    width 100%
    height @height
    overflow hidden
    .pager
      position absolute
      top 0px
      left 0px
      height (@height - 90px)
      transition left 0.8s
    .bar
      position absolute
      left 0px
      width 50px
      height 100%
      transition left 0.8s
      .texts
        position absolute
        width 100%
        top 215px
      .name
        display block
        text-align center
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        font-weight bold
      .result
        display block
        text-align center
      .barArea
        position absolute
        bottom 0px
        left 0px
        width 50px
        background lighten(ColorHeadingLink, 50%) iurl('graph_bg.png')
        transition height 0.8s
      .barColor
        position absolute
        bottom 0px
        left 0px
        width 6px
        height 100%

  .paginator
    position absolute
    top 100px
    opacity 0.7
    transition opacity 0.8s
    &:hover
      right 15px
      opacity 1
      cursor pointer
    &.next
      right 15px
      triangle(30px, 50px, 'right', ColorHeading)
    &.prev
      left 15px
      triangle(30px, 50px, 'left', ColorHeading)
    &.disabled
      opacity 0
    &.removed
      display none
  .ucast
    position absolute
    margin-top 1px
    top 0px
    right 128px
    width 110px
