.pekacek
  h2
    margin-top 20px
  .kosti
    position relative
    height 200px
    width 980px
    background yellow
    margin-top 16px
    .kost
      width 20px
      height 20px
      float left
      background black
      margin 0px 8px 8px 0px
