.senatKosti
  position relative
  width (990px)
  height 350px
  img
    width 100%
    padding-right 140px
    margin-top 40px
    position relative
    z-index 2
    opacity 0.5
  svg
    margin-top 20px
    .obvod
      stroke-width 0.5px !important
