.senatKosti
  position relative
  width (990px)
  height 350px
  img
    width 100%
    padding-right 140px
    margin-top 40px
    position relative
    z-index 2
    opacity 0.5
  svg
    margin-top 20px
    .obvod
      stroke-width 0.5px !important
  .popisek
    position absolute
    top 165px
    left 524px
    font-variant small-caps
    &.brno
      left 650px
    &.ostrava
      left 743px
    .arrow
      position absolute
      top 5px
      left -13px
      triangle(8px, 5px, 'top', ColorHeading)

