.supplemental
  position absolute
  right 15px
  top 8px
  .secteno
  .ucast
    width 110px
    position relative
    padding-bottom 5px
  .ucast
    margin-top 16px
  h3
    font-weight normal
    text-transform lowercase
    font-variant small-caps
    text-align center
    margin 0px

  .value
    display block
    width 100%
    font-size 2em
    text-align center
    padding 8px 0px

  .progress
    width 100%
    height 4px
    border-radius 2px
    background ColorGreyBg
    border-top 1px solid darken(ColorGreyBg, 7%)
    border-bottom 1px solid darken(ColorGreyBg, 7%)

    position absolute
    bottom 0px
    .fill
      position absolute
      top -1px
      left 0px
      background ColorHeading
      border-radius 1px
      border 1px solid darken(ColorHeading, 20%)
      min-width 2px
      height @height
.supplemental-mini
  position absolute
  right 10px
  top 1px
  .secteno
  .ucast
    position absolute
    right 0px
    top 0px
    margin 0px
    width 100px
  .ucast
    right 120px
  h3
  .value
    position absolute
    margin 0px
    padding 0px

  h3
    color #444 !important
    font-size 14px
    left 0px
    top 0px
  .value
    top -1px
    width auto
    right 0px
    font-size 16px
    font-weight normal
  .progress
    top 17px
    height 3px !important
    .fill
      height 3px
